{% extends 'base.html.twig' %}
{% block seo %}
    <link rel="canonical" href="https://www.adivec.fr/cgv">
    <meta name="description" content="Conditions générales de vente"/>
{% endblock %}
{% block title %}Mentions légales{% endblock %}

{% block body %}
    <div id="content" class="container">
        <div class="row">
            <div class="col-xs-12" id="">
                <p><strong>Conditions générales de Vente ADIVEC</strong></p>

                <p>&nbsp;</p>

                <p>Les présentes conditions générales de vente ("CGV") s’appliquent dans leur intégralité à compter du 1er juillet
                    2014, sont rédigées en langue française dans leur version originale qui seule fait foi, primant sur
                    toute autre version traduite en langue étrangère, et prévalent sur toutes conditions générales d’achat
                    ou tout autre document émanant du client, quels qu’en soient les termes. <strong>Toute commande adressée
                        à la société ADIVEC implique sans réserve l’acceptation des présentes CV</strong>. Toute autre
                    condition en contradiction avec les présentes ne sera prise en compte que si elle a été acceptée de
                    manière expresse par ADIVEC dans la confirmation de la commande adressée au client. Les présentes CV,
                    actualisables périodiquement, annulent et remplacent les conditions générales de vente précédentes. Le client
                    devra donc s’assurer avant de passer commande, que les conditions générales de vente qu’il détient constituent
                    bien la dernière édition.</p>

                <p>&nbsp;</p>

                <p>Si une stipulation quelconque de tout contrat issu des présentes est déclarée nulle par un Tribunal ou
                    toute autre administration ou autorité, une telle décision n'affectera en aucun cas la validité des
                    autres stipulations. Le fait de ne pas exercer, à un moment quelconque, une prérogative reconnue par les
                    présentes conditions générales, ou de ne pas exiger l'exécution d'une stipulation quelconque de la
                    convention issue desdites conditions ne pourra en aucun cas être interprété, ni comme une modification
                    du contrat, ni comme une renonciation expresse ou tacite au droit d'exercer ladite prérogative dans
                    l'avenir, ou au droit d'exiger l'exécution scrupuleuse des engagements souscrits aux présentes.</p>

                <p>&nbsp;</p>

                <p><strong>Champ d’application</strong></p>

                <p>Les présentes CGV s’appliquent à toutes les ventes de produits par ADIVEC, tels que notamment les amidons
                    et fécules de pomme de terre, amidons de maïs et de blé et les gommes, exclusivement consenties pour les
                    besoins de leur activité aux clients professionnels (ci-après les «&nbsp;produits&nbsp;»).</p>

                <p>&nbsp;</p>

                <p><strong>Droit applicable – Attribution de juridiction</strong></p>

                <p>Toute question relative aux présentes CV, ainsi qu’aux ventes qu’elles régissent, qui ne serait pas
                    traitée par les stipulations contractuelles, sera soumise aux dispositions de la<strong> loi interne
                        française</strong>.</p>

                <p>&nbsp;</p>

                <p>Les parties s’engagent à tenter de régler leurs différends à l’amiable avant de saisir le Tribunal
                    compétent.</p>

                <p>&nbsp;</p>

                <p>A défaut d’accord amiable, il est de convention expresse que <strong>tout litige relatif au contrat sera
                        de la compétence exclusive du tribunal dans le ressort duquel est situé le siège social d’ADIVEC,
                        même en cas de référé, d’appel, de demande incidente ou de pluralité de défendeurs</strong>.</p>

                <p>&nbsp;</p>

                <p><strong>Commandes / Formation du contrat</strong></p>

                <p>&nbsp;</p>

                <p><strong><em>Formation du contrat</em></strong></p>

                <p>Le contrat de vente ne sera valablement formé que lors de l’acceptation sans réserve par le CLIENT, du
                    devis ou de la confirmation de commande adressé par ADIVEC. Le bénéfice d’une commande est personnel au
                    Client et ne peut être cédé sans l’accord d’ADIVEC. Toute modification ou rétractation par le client
                    depuis le moment de formation du contrat de vente jusqu’à la date d’expédition des produits ne sera
                    prise en compte que si elle a été acceptée par écrit par ADIVEC. En cas de rétractation ou de
                    modification, les acomptes éventuellement versés resteront acquis à ADIVEC, le CLIENT devant en outre
                    indemniser ADIVEC pour tous les frais engagés, et pour toutes les conséquences directes et indirectes
                    qui en découlent.</p>

                <p>&nbsp;</p>

                <p><strong><em>Documents contractuels</em></strong></p>

                <p>Font partie intégrante du contrat les documents suivants, dans l’ordre de priorité décroissant suivant&nbsp;:</p>

                <p>&nbsp;</p>

                <p>- les présentes conditions générales,</p>

                <p>- les conditions particulières acceptées par les deux parties,</p>

                <p>- le devis accepté par tout moyen, notamment par accusé de réception ou confirmation de commande, ainsi
                    que tout avenant à la commande acceptée par les deux parties,</p>

                <p>- le bon de livraison,</p>

                <p>-&nbsp; la facture.</p>

                <p>&nbsp;</p>

                <p>Ne font pas partie du contrat&nbsp;: les documents, publicités, tarifs non mentionnés expressément dans
                    les conditions particulières.</p>

                <p>&nbsp;</p>

                <p><strong>Livraison / Transfert des risques</strong></p>

                <p>&nbsp;</p>

                <p><strong><em>Délais de livraison</em></strong></p>

                <p>Les délais de livraison sont indiqués sur les devis ou confirmations de commande d’ADIVEC. ADIVEC
                    s’engage à mettre en œuvre la plus grande diligence pour les respecter, toutefois leur non respect ne
                    saurait en aucun cas donner lieu à une annulation de commande ou au versement de dommages et
                    intérêts.</p>

                <p>&nbsp;</p>

                <p>Il est à ce titre précisé que&nbsp;:</p>

                <ul>
                    <li>les délais sont indicatifs et sont communiqués sous réserve des possibilités de transport,</li>
                    <li>toute modification de la commande en cours d’exécution, acceptée par ADIVEC, entraînera une
                        prolongation des délais de livraison,
                    </li>
                    <li>tout retard de versement de l’acompte par le client entraînera une prolongation corrélative des
                        délais de livraison.
                    </li>
                </ul>

                <p>&nbsp;</p>

                <p>Les retards éventuels ne donneront pas le droit au Client d’annuler la vente, de refuser les produits,
                    d’appliquer des pénalités de retard, ou de réclamer des dommages et intérêts. En toute hypothèse, une
                    livraison dans les délais indicatifs communiqués ne peut intervenir que si le client est à jour de ses
                    obligations à l’égard d’ADIVEC.</p>

                <p>&nbsp;</p>

                <p><strong><em>Moment et lieu de la livraison</em></strong></p>

                <p>Sauf indication contraire dans le devis, la confirmation de commande ou dans les conditions
                    particulières, les Produits sont livrés DAP au lieu de livraison convenu (Incoterms CCI 2010), livraison
                    à laquelle s’opère le transfert au CLIENT des risques sur les PRODUITS.</p>

                <p>&nbsp;</p>

                <p><strong><em>Entreposage des PRODUITS</em></strong></p>

                <p>Le client est seul responsable de la dégradation des produits résultant de leur entreposage après
                    livraison dans des conditions anormales ou incompatibles avec leur nature.</p>

                <p>&nbsp;</p>

                <p><strong>Conformité</strong></p>

                <p>L’état, la conformité, l’absence de défaut apparent et la quantité des produits doivent être
                    impérativement vérifiés lors de la livraison, en présence du transporteur; les frais et les risques
                    afférents à la vérification étant à la charge du client. Toute réclamation, réserve ou contestation
                    relative aux manquants et/ou avaries devra être notifiée par lettre recommandée avec accusé de réception
                    au transporteur dans les 3 jours (non compris les jours fériés) suivant la prise de livraison des
                    produits. Le client sera tenu pour responsable de tout préjudice subi par ADIVEC du fait du non-respect
                    de cette procédure. Toute réclamation, réserve ou contestation devra en outre être mentionnée sur les
                    documents fournis, et confirmée à ADIVEC par écrit dans les délais les plus brefs à compter de l’arrivée
                    des produits et au plus tard dans un délai de 48 heures. Le client devra en outre tester les produits et
                    évaluer la conformité des PRODUITS par rapport aux spécifications, et fournir à ADIVEC toute
                    justification quant à la réalité des défauts constatés dans un délai de 15 jours suivant la date de
                    réception des produits à l’adresse de livraison convenue, ADIVEC se réservant le droit de procéder
                    directement ou par l’intermédiaire d’un mandataire ou sous-traitant à toute constatation ou vérification
                    sur place. A défaut de réaliser le contrôle de conformité et d’informer ADIVEC dans les délais et selon
                    les modalités précédentes, aucune réclamation ou recours relatifs à la conformité des produits ne pourra
                    être prise en compte par ADIVEC. Tout retour des produits motivé par un défaut apparent doit avoir fait
                    l’objet d’un accord exprès et préalable d’ADIVEC. En cas de non-conformité partielle, sauf accord écrit
                    contraire d’ADIVEC, seule la partie des PRODUITS reconnue comme non-conforme par ADIVEC pourra être
                    retournée. Aucun produit ne pourra faire l’objet d’un retour s’il n’est pas en parfait état de
                    conservation dans son emballage d’origine, s’il présente un quelconque signe de mélange avec d’autres
                    PRODUITS ou un quelconque signe de pollution provenant de matières tierces, ou d’utilisation.</p>

                <p>&nbsp;</p>

                <p><strong>Garantie des vices cachés</strong></p>

                <p>La dénonciation des vices cachés devra être formulée par le client par écrit dans un délai maximum de 24
                    heures suivant la constatation des vices et en tout état de cause avant l’utilisation des produits dans
                    le processus de fabrication&nbsp;ou leur incorporation dans un produit du Client. Il est expressément
                    convenu qu’après l’expiration de ce délai, le client ne pourra pas invoquer la garantie des vices cachés
                    des produits ni opposer celle-ci en demande reconventionnelle pour se défendre à l’occasion d’une action
                    intentée contre lui par ADIVEC pour inexécution du contrat de vente. Le client devra en outre fournir
                    avec la notification toute justification quant à la réalité et au moment d’installation des vices
                    constatés,&nbsp;ADIVEC se réservant le droit de procéder directement ou par l’intermédiaire d’un
                    mandataire ou sous-traitant à toute constatation, vérification et analyse sur place. A défaut du respect
                    de ces conditions, la garantie due à raison des vices cachés des produits ne pourra plus être mise en
                    œuvre. En tout état de cause, <strong>la garantie est strictement limitée au remplacement des quantités
                        de produitS reconnus défectueux par ADIVEC</strong>.</p>

                <p><strong>La garantie ne s’étend en aucun cas, sauf accord contraire des parties&nbsp;:</strong></p>

                <ul>
                    <li><strong>aux dommages provoqués par des conditions anormales d’utilisation, une application non
                            spécifiée à l’origine ou contraire aux précautions d’emplois, un stockage inadapté,</strong>
                    </li>
                    <li><strong>aux dommages causés par la défaillance d’un produit provoquée par d’autres éléments auxquels
                            il est associé par ou à la demande du client.</strong></li>
                </ul>

                <p>&nbsp;</p>

                <p>Aucun retour de produits réputés défectueux ne pourra être effectué par le client sans l’accord écrit
                    préalable d’ADIVEC. L’accord écrit d’ADIVEC ne vaut en aucun cas acceptation de la mise en jeu de la
                    garantie. Le retour sous garantie ne justifie en aucun cas un retard de paiement de la part du
                    client.</p>

                <p>&nbsp;</p>

                <p>Nonobstant ce qui précède, ADIVEC exclut expressément la garantie des vices cachés pour les produits
                    vendus à un professionnel de même spécialité.</p>

                <p>&nbsp;</p>

                <p><strong>Absence de garantie</strong></p>

                <p>En outre, la garantie d’ADIVEC ne pourra être engagée dans les cas suivants&nbsp;:</p>

                <ul>
                    <li>le CLIENT ne peut établir avoir respecté les conditions de mise en œuvre ou les spécifications
                        d’utilisation des PRODUITS&nbsp;;
                    </li>
                    <li>le CLIENT ne peut établir que son personnel ayant fabriqué le produit défectueux avec le(s)
                        PRODUIT(S) disposait des compétences requises pour mettre en œuvre les PRODUITS vendus par ADIVEC&nbsp;;
                    </li>
                    <li>le CLIENT ne peut fournir à ADIVEC des échantillon des lots de PRODUITS prétendument défectueux&nbsp;;</li>
                    <li>le CLIENT ne peut établir que les PRODUITS utilisés l’ont été avant leur date de péremption.</li>
                </ul>

                <p>&nbsp;</p>

                <p><strong>Retours</strong></p>

                <p>Hormis les cas prévus aux articles «&nbsp;Conformité&nbsp;» et «&nbsp;Garantie des vices cachés&nbsp;»,
                    les produits ne sont ni repris ni échangés. <strong>Le retour des produits ne donnera lieu au versement
                        d’aucune indemnité au profit du client, et ADIVEC ne sera en aucune façon tenu de réparer le dommage
                        procuré par cette défectuosité dont, notamment, l’indisponibilité du produit pendant le temps de
                        remplacement.</strong></p>

                <p>&nbsp;</p>

                <p><strong>Garantie contractuelle</strong></p>

                <p>ADIVEC et le client pourront convenir d’une garantie contractuelle qui ne pourra en aucun cas déroger aux
                    dispositions des présentes CV qui prévalent.</p>

                <p>&nbsp;</p>

                <p><strong>Prix des produits</strong></p>

                <p>Le prix des produits est indiqué dans les devis ou confirmations écrites de commandes adressées par
                    ADIVEC au client, et sont exprimés en euros et hors taxes. Ces prix s’entendent nets, DAP lieu de
                    livraison convenu (Incoterms CCI 2010).</p>

                <p>&nbsp;</p>

                <p><strong>Révision du prix des produits</strong></p>

                <p>Dans l’hypothèse où ADIVEC et le CLIENT ont fixé le prix des PRODUITS pour une période donnée et qu’en
                    raison d’un changement de circonstances le maintien du prix fixé rendrait l’exécution excessivement
                    onéreuse pour ADIVEC, ADIVEC pourra demander une renégociation du prix au CLIENT.</p>

                <p>En cas de refus ou d’échec de la négociation dans un délai de 1 mois à compter de la demande d’ADIVEC,
                    ADIVEC pourra, immédiatement et de plein droit, mettre un terme au contrat avec le CLIENT par l’envoi
                    d’une notification par lettre recommandée avec demande d’avis de réception.</p>

                <p>&nbsp;</p>

                <p><strong>Paiement</strong></p>

                <p>Les factures sont payables en EUROS au siège social d’ADIVEC. Les factures sont payées par virement
                    interbancaire ou par tout autre moyen de paiement accepté par ADIVEC, entre les mains d’un préposé ou
                    d’un mandataire d’ADIVEC, ou bien de toute personne ou organisme substitué de son choix, le client
                    acceptant par avance et sans réserve une telle substitution sur simple déclaration d’ADIVEC. ADIVEC se
                    réserve le droit d’exiger le paiement d’un acompte à la commande, lequel pourra correspondre à la
                    totalité du prix pour la commande concernée. Constitue un paiement au sens du présent article la mise
                    effective des fonds à la disposition d’ADIVEC. Le montant équivalent à toute retenue de garantie,
                    acceptée par ADIVEC, devra être payé dans le mois suivant la livraison du produit correspondant. Tout
                    paiement effectué après l’échéance convenue entraînera de plein droit et sans formalités l’octroi d’une
                    pénalité de retard assise sur les sommes restant dues, égale à trois fois le taux d’intérêt légal en
                    vigueur à la date de l’échéance majoré de 10 points. Le retard ou défaut de paiement total ou partiel
                    entraînera en outre la possibilité pour ADIVEC de suspendre immédiatement tout contrat en cours
                    d’exécution et de rendre exigibles toutes les dettes non encore échues dues par le client à ADIVEC à
                    quelque titre que ce soit. ADIVEC pourra également demander au client le versement d’une indemnité
                    forfaitaire minimale de 40 euros par facture impayée en couverture des frais administratifs et de
                    recouvrement occasionnés par le traitement de l’impayé. En cas d’incident de paiement, les parties
                    conviennent en outre que leurs créances réciproques de sommes d’argent se compenseront entre elles, de
                    plein droit et sans formalité, que les conditions de la compensation légale soient ou non remplies.
                    ADIVEC se réserve également la faculté de retenir les produits non payés et non encore effectivement
                    livrés au client. ADIVEC se réserve le droit de conditionner l’acceptation de toute nouvelle commande à
                    la constitution de garanties de paiement ou au paiement à la commande.</p>

                <p>&nbsp;</p>

                <p>&nbsp;</p>

                <p><strong>Clause de réserve de propriété</strong></p>

                <p><strong>Les produits sont vendus sous réserve de propriété jusqu’à leur complet paiement. </strong>Le
                    paiement s’entend du règlement du prix des produits, des frais afférents à la vente et des intérêts. Ne
                    constitue pas un paiement au sens de la présente clause, la simple remise d’un titre constituant une
                    obligation de payer, tel que la remise de traite, ou autre. Ainsi, en cas de non paiement, le Client
                    devra à ses frais, risques et périls restituer les produits impayés, huit jours après une mise en
                    demeure par lettre recommandée avec demande d’avis de réception restée infructueuse. Dans ce cas, la
                    vente sera résolue de plein droit, au jour de la demande de restitution. En cas de non-paiement du prix
                    à l’échéance, les acomptes versés seront maintenus à ADIVEC au titre de dommages intérêts.</p>

                <p>&nbsp;</p>

                <p>Le client ne pourra en aucun cas nantir, donner à gage ou consentir des sûretés sur les produits impayés.
                    Le client s’engage à informer ADIVEC de tout risque d’atteinte à son droit de propriété sur les produits
                    (action, saisie des produits, etc.), dès la connaissance d’un tel risque. En cas de manquement par le
                    client aux obligations du présent article, le client sera redevable envers ADIVEC, à titre de clause
                    pénale, d’une somme équivalente à 15 % de l’ensemble sommes échues ou non, dues par le client. Ces
                    dispositions ne font pas obstacle, dès la livraison conformément à l’Incoterm ou aux modalités
                    convenues, au transfert au client des risques de perte ou de détérioration des PRODUITS ainsi que des
                    dommages qu’ils pourraient causer.</p>

                <p>&nbsp;</p>

                <p><strong>Confidentialité</strong></p>

                <p>Le client considérera comme strictement confidentielles et s’engage à ne pas communiquer, ni exploiter à
                    des fins étrangères au contrat toutes les informations transmises par ADIVEC avant ou après la
                    conclusion du contrat. Les documents remis à ce titre au client par ADIVEC demeurent son entière
                    propriété et devront lui être restitués sur simple demande. L’obligation de confidentialité sera
                    maintenue pendant 5 ans à compter de la date de transmission desdites informations.</p>

                <p>&nbsp;</p>

                <p><strong>Propriété intellectuelle et industrielle</strong></p>

                <p>Le client ne dispose d’aucun droit de propriété intellectuelle et industrielle sur les marques, et sur la
                    technologie d’ADIVEC, cette dernière demeurant propriétaire exclusif de tous ces droits. Toute
                    utilisation, de quelque manière que ce soit, par le client, des marques appartenant à ADIVEC est
                    strictement interdite, sauf accord préalable et exprès d’ADIVEC. Le client informera ADIVEC, dès qu’il
                    aura eu connaissance de toute action judiciaire intentée contre lui en matière de propriété
                    intellectuelle et industrielle, concernant les produits d’ADIVEC, et ne prendra aucune mesure sans en
                    avoir expressément référé à ADIVEC. ADIVEC est seule en droit de diriger la procédure et de décider de
                    toute action à prendre à l’égard des biens, tant à l’égard des tribunaux que des tiers intéressés à
                    l’affaire. ADIVEC garantira le client contre toute condamnation, sous réserve du respect des conditions
                    énumérées ci-dessus.</p>

                <p>&nbsp;</p>

                <p><strong>Responsabilité</strong></p>

                <p>ADIVEC reconnaît vendre des produits conformes aux normes et réglementations applicables en France à la
                    date de la vente. En aucun cas, ADIVEC ne garantit la conformité des produits vendus avec les normes et
                    réglementations applicables en dehors du Territoire Français. Il appartient en conséquence au client de
                    s’assurer avant de passer commande de la conformité des produits qu’il envisage d’acquérir avec les
                    normes et réglementations applicables sur le territoire de destination des produits. Dans ce cadre, le
                    client acquiert les produits à ses risques et périls et ne pourra pas engager la responsabilité d’ADIVEC
                    sur le fondement de la non conformité de ces derniers à des normes et réglementations extérieures au
                    Territoire Français. De même il appartient au client de suivre l’évolution des réglementations
                    applicables aux produits achetés afin de lui permettre de prendre toute action corrective ou de
                    précaution le cas échéant, sur lesdits produits, en cas d’évolution desdites réglementations. En tout
                    état de cause, le client ne pourra rechercher la responsabilité d’ADIVEC qu’en prouvant une faute de
                    cette dernière. La responsabilité d’ADIVEC ne pourra être recherchée en cas de force majeure. ADIVEC ne
                    pourra en aucun cas être tenue responsable de tout dommage résultant de l’utilisation des produits dans
                    des conditions non-conformes. <strong>ADIVEC ne pourra être tenu responsable que des dommages directs et
                        prévisibles à la date de la commande ou de l’offre, à l’exclusion des dommages indirects ou
                        immatériels tels que notamment les pertes de chiffre d’affaires ou de profit, pertes d’exploitation,
                        pertes de chance</strong>. <strong>Au cas où la responsabilité d’ADIVEC serait retenue, le montant
                        des sommes mises à sa charge ne pourra excéder le montant HT du prix effectif encaissé par ADIVEC au
                        titre de la commande de produits en cause. Le client ne pourra en aucun cas rechercher la
                        responsabilité d’ADIVEC pour les dommages causés aux biens en cas de défectuosité de ses produits,
                        ADIVEC s’exonérant dans ce cas de toute responsabilité, conformément à la faculté donnée par les
                        articles 1386-1 et suivants du Code civil. Le client devra s’efforcer de minimiser les dommages,
                        dans son intérêt, comme dans celui d’ADIVEC. </strong></p>

                <p>&nbsp;</p>

                <p><strong>Force Majeure</strong></p>

                <p>La responsabilité d’ADIVEC ne pourra en aucun cas être engagée, ses obligations étant suspendues, dans
                    l’hypothèse de survenance d’un événement de force majeure.</p>

                <p>Sont considérés comme cas de force majeure eu égard aux obligations d’ADIVEC les événements indépendants
                    de sa volonté et qu’il ne pouvait raisonnablement être tenu de prévoir, dans la mesure où leur
                    survenance rend plus difficile ou plus onéreuse l’exécution de ses obligations. Il en sera ainsi
                    notamment, sans que cette liste soit limitative, des cas de guerre, émeute, catastrophe naturelle,
                    embargo, épidémie, perturbation des moyens de transport ou des voies de communication, actes de
                    gouvernement, incendie, inondation, graves intempéries, modifications de la réglementation applicable
                    aux présentes CV ou aux produits, événements de nature à entraver la bonne marche de l’entreprise
                    intervenant chez ADIVEC, ses fournisseurs ou ses sous-traitants (tels que grèves, lock-out, chômage
                    total ou partiel, pénurie de matières premières, mauvaises récoltes, accident, bris de machine,
                    incendie, inondation, difficultés d’approvisionnement, interruption ou retard dans les transports).</p>

                <p>&nbsp;</p>

                <p>En outre, si un motif de force majeure subsiste au delà d’une durée de 15 jours, ADIVEC pourra demander
                    la caducité du contrat de plein droit, après en avoir donné notification au Client par tous moyens.</p>

            </div>
        </div>
    </div>
{% endblock %}


