{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
<h1>Mentions légales</h1>

    Éditeur : Le site internet https://www.adivec.fr est édité par la société ADIVEC

    Copyrights contenus : Tous droits du propriétaire du contenu du site internet adivec.fr réservés.
    Toute reproduction et toute utilisation du contenu du site autre que la consultation individuelle et privée sont interdites, sauf autorisation.

    Hébergement :
    ads-COM
    15 rue de la Bourie Blanche
    45000 ORLÉANS
    Tél : 02 38 21 55 21
    www.ads-com.fr
{% endblock %}
