<h1>Demande client</h1>

<h3>
    Un client voudrait être recontacter!
</h3>
<p><strong>Voici ces informations : </strong></p>
<p>Compagnie : {{ formdata.company }}</p>
<p>Nom : {{ formdata.nom }}</p>
<p>Email : {{ formdata.email }}</p>

<p>
    {{ formdata.message }}
</p>